<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/securejobsdb</property>
    <property name="hibernate.connection.username">dbuser</property>
    <property name="hibernate.connection.password">Pa55word</property>
    <mapping resource="EmploymentLevels.hbm.xml"/>
    <mapping resource="ProfessionalQualifications.hbm.xml"/>
    <mapping resource="JobTitles.hbm.xml"/>
    <mapping resource="EducationalQualifications.hbm.xml"/>
    <mapping resource="Persons.hbm.xml"/>
    <mapping resource="Skills.hbm.xml"/>
    <mapping resource="Sectors.hbm.xml"/>
    <mapping resource="Referees.hbm.xml"/>
    <mapping resource="Experiences.hbm.xml"/>
    <mapping resource="EducationLevels.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
